---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=asd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1556483481'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?q=asd&page=2>; rel="next", <https://api.github.com/search/repositories?q=asd&page=34>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":20688,"incomplete_results":false,"items":[{"id":27291507,"node_id":"MDEwOlJlcG9zaXRvcnkyNzI5MTUwNw==","name":"asdf","full_name":"asdf-vm/asdf","private":false,"owner":{"login":"asdf-vm","id":17869024,"node_id":"MDEyOk9yZ2FuaXphdGlvbjE3ODY5MDI0","avatar_url":"https://avatars2.githubusercontent.com/u/17869024?v=4","gravatar_id":"","url":"https://api.github.com/users/asdf-vm","html_url":"https://github.com/asdf-vm","followers_url":"https://api.github.com/users/asdf-vm/followers","following_url":"https://api.github.com/users/asdf-vm/following{/other_user}","gists_url":"https://api.github.com/users/asdf-vm/gists{/gist_id}","starred_url":"https://api.github.com/users/asdf-vm/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/asdf-vm/subscriptions","organizations_url":"https://api.github.com/users/asdf-vm/orgs","repos_url":"https://api.github.com/users/asdf-vm/repos","events_url":"https://api.github.com/users/asdf-vm/events{/privacy}","received_events_url":"https://api.github.com/users/asdf-vm/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/asdf-vm/asdf","description":"Extendable
        version manager with support for Ruby, Node.js, Elixir, Erlang & more","fork":false,"url":"https://api.github.com/repos/asdf-vm/asdf","forks_url":"https://api.github.com/repos/asdf-vm/asdf/forks","keys_url":"https://api.github.com/repos/asdf-vm/asdf/keys{/key_id}","collaborators_url":"https://api.github.com/repos/asdf-vm/asdf/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/asdf-vm/asdf/teams","hooks_url":"https://api.github.com/repos/asdf-vm/asdf/hooks","issue_events_url":"https://api.github.com/repos/asdf-vm/asdf/issues/events{/number}","events_url":"https://api.github.com/repos/asdf-vm/asdf/events","assignees_url":"https://api.github.com/repos/asdf-vm/asdf/assignees{/user}","branches_url":"https://api.github.com/repos/asdf-vm/asdf/branches{/branch}","tags_url":"https://api.github.com/repos/asdf-vm/asdf/tags","blobs_url":"https://api.github.com/repos/asdf-vm/asdf/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/asdf-vm/asdf/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/asdf-vm/asdf/git/refs{/sha}","trees_url":"https://api.github.com/repos/asdf-vm/asdf/git/trees{/sha}","statuses_url":"https://api.github.com/repos/asdf-vm/asdf/statuses/{sha}","languages_url":"https://api.github.com/repos/asdf-vm/asdf/languages","stargazers_url":"https://api.github.com/repos/asdf-vm/asdf/stargazers","contributors_url":"https://api.github.com/repos/asdf-vm/asdf/contributors","subscribers_url":"https://api.github.com/repos/asdf-vm/asdf/subscribers","subscription_url":"https://api.github.com/repos/asdf-vm/asdf/subscription","commits_url":"https://api.github.com/repos/asdf-vm/asdf/commits{/sha}","git_commits_url":"https://api.github.com/repos/asdf-vm/asdf/git/commits{/sha}","comments_url":"https://api.github.com/repos/asdf-vm/asdf/comments{/number}","issue_comment_url":"https://api.github.com/repos/asdf-vm/asdf/issues/comments{/number}","contents_url":"https://api.github.com/repos/asdf-vm/asdf/contents/{+path}","compare_url":"https://api.github.com/repos/asdf-vm/asdf/compare/{base}...{head}","merges_url":"https://api.github.com/repos/asdf-vm/asdf/merges","archive_url":"https://api.github.com/repos/asdf-vm/asdf/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/asdf-vm/asdf/downloads","issues_url":"https://api.github.com/repos/asdf-vm/asdf/issues{/number}","pulls_url":"https://api.github.com/repos/asdf-vm/asdf/pulls{/number}","milestones_url":"https://api.github.com/repos/asdf-vm/asdf/milestones{/number}","notifications_url":"https://api.github.com/repos/asdf-vm/asdf/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/asdf-vm/asdf/labels{/name}","releases_url":"https://api.github.com/repos/asdf-vm/asdf/releases{/id}","deployments_url":"https://api.github.com/repos/asdf-vm/asdf/deployments","created_at":"2014-11-29T04:41:43Z","updated_at":"2019-04-28T10:03:12Z","pushed_at":"2019-04-16T11:28:49Z","git_url":"git://github.com/asdf-vm/asdf.git","ssh_url":"git@github.com:asdf-vm/asdf.git","clone_url":"https://github.com/asdf-vm/asdf.git","svn_url":"https://github.com/asdf-vm/asdf","homepage":"https://asdf-vm.com/","size":745,"stargazers_count":4936,"watchers_count":4936,"language":"Shell","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":216,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":39,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":216,"open_issues":39,"watchers":4936,"default_branch":"master","score":111.571434},{"id":4892935,"node_id":"MDEwOlJlcG9zaXRvcnk0ODkyOTM1","name":"asdfree","full_name":"ajdamico/asdfree","private":false,"owner":{"login":"ajdamico","id":216807,"node_id":"MDQ6VXNlcjIxNjgwNw==","avatar_url":"https://avatars1.githubusercontent.com/u/216807?v=4","gravatar_id":"","url":"https://api.github.com/users/ajdamico","html_url":"https://github.com/ajdamico","followers_url":"https://api.github.com/users/ajdamico/followers","following_url":"https://api.github.com/users/ajdamico/foll[...]
